form {
    border: 1px solid black;
    padding: 8px;
}

form:focus-within {
    background-color: green;
}


label {
    display: inline-block;
    width: 100px;
} 

input {
    margin: 4px 12px;
}

