* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.header-div {
    background-color: blanchedalmond;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 1em 0 1em;
}

.menu-item {
    padding: 1em;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.251);
}

