nav {
    width: 100%;
    background-color: #333;
    height: 50px;
}

ul li a {
    text-decoration: none;
    float: left;
    color: white;
    background-color: #333;
    padding: 10px;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0 0 10px;
}

header {
    background-image: url("../img/plaza.jpg");
    min-height: 350px;
    position: relative;
}

header h1 {
    position: absolute;
    top: 100px;
    left: 40%;
    text-align: center;
    color: orangered;
}

.nav-main {
    position: relative;
    z-index: 1;
}

nav .nav-sticky {
    position: sticky;
    top: 0px;
    padding-left: 30%;
}

article {
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding-left: 5%;
    padding-right: 5%;
}

article h1 {
    padding-top: 75px;
}