* {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: yellow;
}

h1:hover, h2:hover {
   color: yellow; 
}

header, section {
    background-color: rgb(99, 13, 179);  
    padding: 30px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

section {
    width: 50%;
    border: 1px dashed orange;
    border-radius: 10px;
}

#prviDeo {
    text-decoration: none;
}



